/* --- CUPRINS--- 
setari general body, wrapper, font   line 22
link retele socializare              line 45
logo					             line 65
meniu sus dreapta		             line 75
meniu principal			             line 105
top (general)			             line 177
top stanga				             line 204
top dreapta 			             line 212
galerie foto 			             line 220
middle (general)		             line 316
trei butoane			             line 325
	buton 1 			             line 388
	buton 2 			             line 408
	buton 3 			             line 428
ribbon					             line 449
patru articole			             line 467
bottom					             line 525
footer					             line 581*/

@font-face{
	font-family: nume;
	src: url('font.woff') format('woff');
}
body
{
	background: url(../img/bg1.jpg) repeat;
	font-family: 'Calibri';
}
.wrapper
{
	width: 900px;
	margin: 0 auto;	
}
a 
{
	text-decoration: none;
}
#sus
{
	background: url(../img/banda.jpg) repeat-x;
	height: 30px;
}
/* LINKURI DREAPTA */
div#linkuri
{
	position:fixed;
	margin-left:880px;
	margin-top:120px;
	z-index: 5;
}
#linkuri li 
{
	list-style:none;
	height: 45px;
	width:45px;
	overflow: hidden;
	padding-bottom: 5px;
}
a
{
	color:black;
}
/*logo*/
.wrapper h1
{
	background: url(../img/logoo.png) no-repeat;
	height: 118px;
	text-indent: -9999px;
	margin-top: -17px;
	margin-bottom: -11px;
	margin-left: 20px;
}
/*meniu sus dreapta*/
#list 
{
	margin-top: -30px;
}
#list li
{
	display:inline;	
	margin: 0px 0px 0px 8px;	
	color:white;
}
#list a 
{
	color:white;
	font-size: 14px;
	line-height: 2;
}
#list li:after
{
	content: "|";
	margin-left:8px;
}
#list li:last-child:after
{
	content: none;
}
#list
{
	text-align: right;
}
/*MENIU PRINCIPAL */
#menu ul
{
  background: rgb(50,51,50);
  width: 900px;
  height: 30px;
  margin: 0;
 }
 #menu li 
 {
  float: left;
  list-style: none;
}
#menu li a 
{
  display: block;
  line-height: 30px;
  text-align: center;
}
#menu>ul>li>a
{
  color: white;
  font-size: 15px;
  margin-left: -5px;
  margin-right: 3px;
}
#menu ul ul a 
{
  color: white;
}
#menu ul li :hover 
{
  color: rgb(246,206,73);
}
#menu li ul { /*submeniu*/
  display: none;
  height: 110px;
  margin-left: -20px;
  position: absolute;
  width: 132px;
  z-index: 2;
  border:1px solid rgb(170,168,168);
  background-color:rgba(50,50,50,.95);
  margin-top: 8px;
  padding-top: 15px;
  padding-bottom: 5px;
}
#menu #lista:hover ul 
{
  display: block;
}
#menu li li 
{
  display: block;
  margin: 0 0 -8px 0;
  width:134px;
 }
#menu li ul a 
{
  display: block;
  font-size: 15px;
  padding: 0px 10px 5px 15px;
  text-align: left;
} 
#true img
{
	float:left;
	position: relative;
    margin-top:-25px;
    margin-left:-5px;
    opacity:.9;
}
/*TOP*/
.top
{
	background: #e8e8e8;
	height: 371px;
	width: 900px;
	margin-bottom:-30px;
}
.top h2
{
	margin: 0px;
	margin-left:20px;
	font-size: 42px;
	line-height: 1.2;
	font-weight: normal;
	font-family: nume;
	color:#333333;
}
.top #golf
{
	margin-left: 20px;
	margin-right: 28px;
	line-height: 1.7;
	font-size: 14px;
	padding-top: 20px;
	color:#444444;
}
.stanga
{
	width:50%;
	height: 325px;
	float:left;
	border-right: 1px solid #e3e3e3;
	margin-top: 37px;
}
.dreapta
{
	width: 49%;
	height: 325px;
	float: left;
	border-left:1px solid white;
	margin-top:37px;
}
/*GALERIE FOTO*/
.galerie 
{
	position: relative;
}
#imagini
{
	height: 80%; 
	position:relative;
	left:-20px;
	top:20px;
}
#imagini img{
	width: 329px;
	height: 221px;
	position: absolute;
}
.punu
{
	top:20px;
	right: 40px;
	opacity: 1;
	border:6px black solid;
	z-index: 3;
}
.pdoi
{
	top:10px;
	right: 25px;
	border: 6px white solid;
	opacity: .8;
	z-index: 2;
}
.ptrei
{
	top: 0px;
	right: 10px;
	border: 6px solid rgb(240,240,240);
	opacity: .8;
	z-index: 1;
}
#butoane 
{
	width: 150px;
	padding: 0px;
	margin:0px;
	height: 20px;
	position: absolute;
	top:295px;
	left:180px;
}
#butoane li 
{
	list-style: none;
	background: url('../img/b-off.png') 0 0 no-repeat;
	height: 17px;
	width: 17px;
	padding:0px;
	margin:0px;
	padding-left: 9px;
	cursor: pointer;
	float: left;
}

#butoane li:hover{
	background: url('../img/b-on.png') 0 0 no-repeat;
}
/*BUTON REGISTER*/

#register 
{
	background: url(../img/r2w.png) repeat-x;
	border-radius:5px;
	width:212px;
	height: 38px;
	border-bottom: 1px solid #71aae6;
}
#register p
{
	color:white;
	font-size: 24px;
	padding-top: 10px;
	text-align: center;
	font-weight: bold;
	line-height: 24px;
}
.stanga a /*buton*/
{
	
	background: url(../img/r1w.png) repeat-x;
	border-radius:5px;
	width: 212px;
	height: 44px;
	position: absolute;
	margin-left: 184px;
	top:469px;
}
/*middle*/
div.middle{
	position: relative;
	padding-top: 35px;
	padding-left: 20px;
	bottom: -30px;
	height: 740px;
	background: rgb(250,250,250);
}
/*TREI BUTOANE */ 
ul.trei_but
{
	width: 100%;
	height: 88px;
}
ul.trei_but li
{
	float: left;
	width: 280px;
	list-style-type: none;
	margin: 0 10px 0 0;
}
ul.trei_but div
{
	position: relative;
	border-radius: 5px;
	width: 280px;
	height: 82px;
}
ul.trei_but img
{
	float: left;
	position: relative;
	bottom: -10px;
}
ul.trei_but img:first-child
{
	top:-2px;
	-webkit-transform:rotate(-15deg);
	-ms-transform:rotate(-15deg);
	transform: rotate(-15deg);
	width:85px;
	left:5px;
	margin-right: 30px;
	border: 3px solid rgba(170,170,170,.5);
}
ul.trei_but div img:nth-child(2)
{
	position: absolute;
	left:20px;
	top:-23px;
}
ul.trei_but h5
{
	padding-right: 5px;
	font-size:21px;
	line-height:1.2;
	margin: 0;
	color:white;
}
ul.trei_but p
{
	margin: 0;
	font-size:14px;
	line-height: 1.2;
}
.trei_but li a 
{
	height: 87px;
	border-radius:5px;
	width: 280px;
}
/*BUTON 1*/
#b1a
{
	display: block;
	background: #97c812;
}
#b_1
{
	background: url(../img/verde2.png) repeat-x;
	border-bottom:1px solid white;
}
#b_1 p 
{
	color:#638400;
	font-weight: normal;
}
#b1a h5
{
	padding-top: 8px;
}
/*BUTON 2*/
#b2a
{
	display: block;
	background: #1b72b2;
}
#b_2
{
background: url(../img/blue2.png) repeat-x;
border-bottom:1px solid rgb(172,204,235);
}
#b_2 p 
{
	color: rgb(5,71,140);
	padding-top: 4px;
}
#b2a h5
{
	padding-top:23px;
}
/*BUTON 3*/
#b3a
{
	display: block;
	background: #d65701;
}
#b_3
{

background: url(../img/stripeso.jpg) repeat-x;
border-bottom:1px solid rgb(245,205,181);
}
#b3a h5
{
	padding-top: 13px;
}
#b_3 p
{
	color:rgb(176,65,0);
	margin-top: -1px;
}
/*RIBBON*/
#ribbon 
{
	background: url(../img/ribbon_2.png) no-repeat;
	margin-top: 0px;
	margin-left: -25px;
	height: 47px;
	width: 278px;
	margin-top: 40px;
}
#ribbon p 
{
	font-size: 18px;
	text-align: left;
	padding-top: 5px;
	padding-left: 27px;
	color:white;
}
/* 4 ARTICOLE*/
.articole ul li 
{
	float: left;
	list-style: none;
	margin-bottom: 55px;
	margin-left: 0px;
}
.articole
{
	margin-top: 10px;	
}
hr
{
	position: relative;
	left: -20px;
	width: 900px;
}
.articole h2
{
	font-size: 20px;
	font-weight: normal;
	color:#555555;
}
.articole p 
{
	font-size: 16px;
	margin-top: -5px;
	line-height: 22px;
	color:#555555;
	width:230px;
}
.art_unu>img
{
float:left;
margin-left: 3px;
border:4px solid #4f4f4f;
}
.art_unu #paragraf
{
	width: 240px;
	float:left;
	padding-left: 10px;
}
#paragraf p 
{
	margin-bottom: 10px;
	margin-right: 0px;
}
#paragraf a 
{
	font-size: 14px;
	color:rgb(64,150,238);
}
#paragraf a:hover
{
	text-decoration: underline;
}
/* BOTTOM */
div.bottom
{
	min-width: 900px;
}
div.bottom ul 
{
	display: block;
	margin: 0;
	margin-top: -20px;
	padding-top: 26px;
	min-width: 900px;
	margin-left: -10px;
}
.bottom li 
{
	list-style: none;
	float:left;
	border-right:2px solid #e3e3e3;
	height: 62px;
	padding-right: 50px;
	margin-left: 0px;
	margin-left: 16px;
	display: block;
	
}
.bottom li:last-child
{
	border-right: 0px;
}
.bottom img
{
	float:left;
}
.bottom #videos
{
	float:left;
	padding-left: 10px;
}
#videos p 
{
	margin-top: -18px;
	font-size: 12px;
	margin-bottom: 5px;
	color:#343434;
}
#videos h6
{
	font-size: 18px;
	color:#343434;
}
#videos h6:hover
{
	color:#4096ee;
}
.bottom li:hover h6
{
	color:rgb(98,164,240);

}
/*FOOTER*/
div.footer 
{
	background: url(../img/footbg.png) repeat-x;
	width: 100%;
	display: block;
	height: 145px;
	max-height: 100%;
	position: relative;
	bottom:-20px;
	clear:both;
}
#foot
{
	width: 900px;
	margin:0 auto;
}
#foot>div /*ce e in stanga*/
{
	float:left;
	padding-top: 14px;
	margin-left: 25px;
}
#foot div img
{
	float:left;
}
#foot h4
{
	color:rgb(214,214,214);
	font-weight: normal;
	font-size: 19px;
	margin-left:13px;
	margin-top: 10px;
	float:left;
	font-family: 'Arial';
}
#foot p 
{
	margin-right: 37px;
	color:white;
	margin-top: 5px;
	font-size: 14px;
}
#foot>ul
{
	float:left;
	 margin:14px 0px 0px 40px;
}
#foot li
{
	list-style-type: none;
}
#foot>ul>li 
{
	margin:0px;
	float:left;
}
#foot>ul>li>a
{
	color:rgb(250,237,117);
	font-size: 18px;
	font-weight: normal;
}
#box a 
{
	color:white;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: -30px;
}
#box
{
  padding-left: -30px;
  width:201px;
  border-top: 1px solid #7b7e80;
  margin-right: 20px;
}
#box ul 
{
  margin-bottom: -10px;
  margin-top: 15px;
}