/* --- CUPRINS---
setari generale body, wrapper        line 16
meniu sus dreapta                    line 29
logo                                 line 67
meniu principal                      line 77
content (general)                    line 151
text                                 line 158
packages (general)                   line 177
    coloana 1                        line 232
    coloana 2                        line 250
    coloana 3                        line 263
    coloana 4                        line 286
butoane "sign up"                    line 298
titluri oferte                       line 323
footer                               line 379*/
body
{
	background: url(../img/bg1.jpg) repeat;
}
.wrapper
{
	width: 900px;
	margin:0 auto;
}
a 
{
  text-decoration: none;
}
/*MENIU SUS DREAPTA */
#sus 
{
  background: url(../img/banda.jpg) repeat-x;
  height: 30px;
}
#list 
{
margin-top: -30px;
}
#list li
{
		display:inline;	
		padding: 0px;
		margin: 0px 0px 0px 8px;	
		color:white;
    font-family: 'Calibri';
}
#list a 
{
	color:white;
	font-size: 14px;
	line-height: 2;
  font-family: 'Calibri';
}
#list li:after
{
	content: "|";
	margin-left:8px;
}
#list li:last-child:after
{
	content: none;
}
#list
{
	text-align: right;
}
/*LOGO */
.wrapper h1
{
  background: url(../img/logoo.png) no-repeat;
  height: 118px;
  text-indent: -9999px;
  margin-top: -17px;
  margin-bottom: -11px;
  margin-left: 24px;
}
/*MENIU PRINCIPAL */
#menu ul
 {
  background: rgb(50,51,50);
  width: 900px;
  height: 30px;
  margin: 0; 
}
#menu li 
{
  float: left;
  font-family: 'Calibri';
  list-style: none;
}
#menu li a 
{
  display: block;
  line-height: 30px;
  text-align: center;
}
#menu>ul>li>a 
{
  color: white;
  font-size: 15px;
  margin-left: -3px;
  margin-right: 3px;
}
#menu ul ul a
{
  color: white;
}

#menu ul li :hover 
{
  color: rgb(246,206,73);
}
#menu li ul { /*submeniu*/
  display: none;
  height: 110px;
  margin-left: -20px;
  position: absolute;
  width: 132px;
  z-index: 2;
  border:1px solid rgb(170,168,168);
  background-color:rgba(50,50,50,.95);
  margin-top: 8px;
  padding-top: 15px;
  padding-bottom: 5px;
}
#menu #lista:hover ul 
{
  display: block;
}
#menu li li
{
  display: block;
  margin: 0 0 -8px 0;
  width:134px;
 }
#menu li ul a
{
  display: block;
  font-size: 15px;
  padding: 0px 10px 5px 15px;
  text-align: left;
} 
#true
{
  float:left;
  position: relative;
  margin-top:-25px;
  margin-left:-5px;
  opacity:.9;
}
.content
{
  background:white;
  width:900px;
  height: 1135px;
  position: absolute;
}
/* TEXT */
#text 
{
  position: absolute;
  margin-left: 22px;
}
#text h2
{
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  line-height: 2.5px;
  margin-top: 45px;
}
#text p 
{
  font-size: 14px;
  margin-right:20px;
}
  /* packages */
#box
{
  width:860px;
  height: 480px;
  background: #e0e0e0;
  border-radius:5px;
  position: relative;
  top:208px;
  left: 20px;
}
#prim 
{
  width: 860px;
  height: 73px;
  position: absolute;
}
#prim>img:first-child /*banda gri*/
{
  width: 860px;
  height: 73px;
  border-top-left-radius:5px;
  border-top-right-radius: 5px;
  border-top:1px solid #cbcbcb;
  border-bottom:1px solid #7d7d7d;
  position: absolute;
}
#prim>img:nth-child(2)/*banda albastra*/
{
  width:645px;
  height: 74px;
  margin-left: 215px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top:1px solid #7c93ad;
  position: absolute;
  margin-top: 0px;
}
#coloane li 
{
  list-style: none;
  font-size: 13px;
  height: 45px;
  line-height: 44px;
  text-align: center;
}
#coloane 
{
  position: relative;
  margin-left: -30px;
}
#coloane li:last-child
{
  border-bottom: none;
}
#cunu
{
  margin-top:74px;
  height: 406px;
  width:215px;
  float: left;
  border-bottom-left-radius: 5px; 
  background-color: rgba(120,120,120,.2);
}
#cunu ul li
{
  color:#464646;
  border-bottom:1px solid #a2a2a2;
 }
#cunu li img
{
  padding-top: 12px;
}
#cdoi
{
  height: 406px;
  margin-top:74px;
  width:215px;
  box-shadow: -5px 0px 15px #a4a4a4;
  float: left;
}
#cdoi ul li 
{
  color:#797979;
  border-bottom: 1px solid white;
}
#ctrei
{
   height: 494px;
   width:215px;
   position: relative;
   box-shadow: 0px 3px 10px #666666;
   float: left;
   border-radius:5px;
   background-color: white;
}
#ctrei img
{
  margin-left:-1px;
  margin-top: -17px;
}
#ctrei li 
{
  border-bottom: 1px solid #dadada;
}
#ctrei ul 
{
  margin-top: -9px;
}
#cpatru
{
  float: left;
  margin-top: 73px;
  margin-left: 30px;
  width: 185px;
}
#cpatru li 
{
  margin-left: 0px;
  border-bottom: 1px solid white;
}
#coloane a /*butoane sign up*/
{
background: url('../img/b-black.jpg') repeat-x;
display: block;
width: 150px;
height: 37px;
font-size: 18px;
border-radius: 20px;
box-shadow: 0px 2px 3px #a4a4a4;
margin: 20px auto;
}
#coloane a span
{
  position:relative;
  top:-3px;
}
#coloane a
{
  color:white;
  font-weight: bold;
}
#ctrei a /*buton sign up coloana 3*/
{
  background: url('../img/b-red.jpg') repeat-x;
 }
#box #titlu
{  
  position: absolute;
  float: left;
}
#titlu li 
{
  list-style: none;
  display: inline;
  margin-left: 0px;
  width:215px;
  height: 74px;
  float: left;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color:white;
  line-height: 1.2;
}
#titlu li:first-child
{
  font-weight: bold;
  color:#e0e0e0;
  padding-top: 12px;
}
#titlu h2
{
  margin: 0;
  padding: 5px 0px 8px 0px;
  font-size: 21px;
}
#titlu li span
{
  font-size: 46px;
  position: relative;
  top:-15px;
}
#titlu li small
{
  font-size: 15px;
}
#titlu li sup
{
font-size: 28px;
}
#titlu li:nth-child(3)
{
  margin-top: -14px;
}
#titlu #span
{
  font-size: 53px;
}
#titlu #span small
{
  font-size: 22px;
}
/*FOOTER*/
div.footer 
{
  background: url(../img/footbg.png) repeat-x;
  width: 100%;
  display: block;
  height: 145px;
  max-height: 100%;
  position: relative;
  top:1135px;
  clear: both;
}
#foot
{
  width: 900px;
  margin:auto;
  clear: both;
}
#foot>div /*ce e in stanga*/
{
  float:left;
  padding-top: 14px;
  margin-left: 25px;
}
#foot div img
{
  float:left;
}
#foot>div>a 
{
  float: left;
}
#foot h4
{
  color:rgb(214,214,214);
  font-weight: normal;
  font-size: 19px;
  margin-left:13px;
  margin-top:10px;
  font-family: 'Arial';
}
#foot p 
{
  color:white;
  font-family: 'Calibri';
  margin-top: 5px;
  font-size: 14px;
}
#foot>ul
{
  float:left;
  margin:14px 0px 0px 56px;
 }
#foot li
{
  list-style-type: none;
}
#foot>ul>li 
{
  margin:0px;
  float:left;
}
#foot>ul>li>a
{
  color:rgb(250,237,117);
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: normal;
}
#boxf a 
{
  color:white;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: -30px;
  font-family: 'Calibri';
}
#boxf
{
  padding-left: -30px;
  width:201px;
  border-top: 1px solid #7b7e80;
  margin-right: 20px;
}
#boxf ul 
{
  margin-bottom: -10px;
  margin-top: 15px;
}
